.ArticleComments li {
  list-style: none;
  border: 1px solid black;
  margin: 1rem;
}

.ArticleComments {
  padding: 0;
  margin-bottom: 100px;
}

.ArticleComments input {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  height: 15vh;
  width: 50vh;
}
