.Nav-navbar {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.Nav-navbar li {
  list-style: none;
  padding: 1rem;
}

.Nav-navbar a {
  text-decoration: none;
}

@media (max-width: 420px) {
  .Nav-navbar {
    display: block;
  }

  .Nav-navbar li {
    list-style: none;
    padding: 0.2rem;
  }
}
