.Nav-navbar {
  margin-top: 135px;
  font-weight: bold;
}

.Nav-navbar ul {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.Nav-navbar li {
  list-style: none;
  padding: 0.5rem;
}

.Nav-navbar a {
  text-decoration: none;
}

.Nav-navbar p {
  padding-bottom: -150px;
}

.Nav-navbar button {
  min-width: 110px;
  padding: 10px;
}

@media (max-width: 420px) {
  .Nav-navbar {
    display: block;
  }

  .Nav-navbar button {
    min-width: 70px;
    padding: 5px;
  }
  .Nav-navbar ul {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 0;
  }

  .Nav-navbar li {
    list-style: none;
    padding: 0.2rem;
  }
}
