.ArticleComments li {
  list-style: none;
  margin: 1.5rem;
  padding-bottom: 20px;
  box-shadow: 3px 8px 5px 8px darkgray;
  padding: 1rem;
  border-radius: 5px;
}

.ArticleComments {
  margin: auto;
  max-width: 70%;
  padding: 0;
  margin-bottom: 100px;
}

.ArticleComments textarea {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  height: 15vh;
  width: 90%;
  font-size: 2rem;
  border: 1px solid #2d74c5;
  border-radius: 5px;
}

.ArticleComments p {
  width: 70%;
  margin: 40px auto;
}

.ArticleComments div h2.comment-login {
  font-style: italic;
  background: #1e384e;
  color: white;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
  padding: 10px;
}

@media (max-width: 380px) {
  .ArticleComments {
    margin: auto;
    max-width: 790%;
    padding: 0;
    margin-bottom: 100px;
  }

  .ArticleComments p {
    width: 100%;
    margin: 40px auto;
  }
}
