.Header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  color: white;
  margin: 0;
}

.Header h1,
.Header p {
  margin: 10px;
}

.Header span {
  font-weight: bold;
}

.Header a {
  text-decoration: none;
  color: white;
}

.Header button {
  margin-bottom: 8px;
}
