.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  padding: 5px;
  background: #2d74c5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

@media (max-width: 380px) {
  button {
    padding: 4px;
  }
}

button:hover {
  background: #0270ac;
}

/* Utility Classes */

.text-primary {
  color: #00a8ff;
}
